/* tour-tabs start ----------------------------*/
.tour-tabs {
    justify-content: center;
    gap: 16px;
    border-bottom: 0;
    margin-bottom: 60px;

    &.style2 {
        .th-btn {
            background-color: #EEF0F6;
        }
    }

    &.style3 {
        .th-btn {
            background: #EEF0F6;
            border: 1px solid #E1E4E6;
            border-radius: 48px;
            padding: 15px 24px;
            color: $title-color;

        }
    }

    .th-btn {
        background-color: $white-color;
        border-radius: 48px;
        padding: 8px 30px;
        color: $theme-color;

        &:hover,
        &.active {
            color: $white-color;

            img {
                filter: brightness(0) invert(1);
            }
        }

    }
}